html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
}

/*body{
    background-color: #d0fdd7!important;
}*/
.div1{
    height: 40%;
    width: 100%;
    background-color:white ;
    justify-content: center;
    align-content: center;
}
.div2{
    height:50%;
    width: 100%;
    background-color: #c0ecec;
}
.foto {
    margin-top: 70pt;
}
.rango {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #496363;
}
.navbar {
    background-color: #FFDDCE;
}
.footer{
    height: 60px;
}